- var navItems = ['О поселке', 'Купить участок', 'Фотогалерея', 'Спецпредложения', 'Как добраться' ];

.menu
    .menu--mob
        button.hamburger.hamburger--elastic(type="button")
            span.hamburger-box
                span.hamburger-inner
        img(src="assets/images/logo-mob.svg", alt="").menu--mob__img
    .menu-desc
        a(href="#").menu-logo
            img(src="assets/images/logo.svg", alt="").menu-logo__img
        nav.menu-nav
            each item,index in navItems
                a(href="#").menu-nav-link
                    img.menu-nav-link__img(src=`assets/images/icons/nav${index}.svg`, alt="")
                    span.menu-nav-link__text=item
        a.menu-drone(href="#")
            img.menu-drone__img(src="assets/images/drone.svg", alt="")
            span.menu-drone__text Видео–обзор <span> территории</span> с квадрокоптера
        a(href="tel:+78129391199").menu__tel +7 (812) 939 11 99
        a(href="mailto:info@info.com").menu__mail info@info.com
        .menu-socials
            - for (var i = 0; i <= 5; i++){
                a.menu-socials-item(href="#")
                    img.menu-socials-item__img(src=`assets/images/icons/socials${i}.svg`, alt="")
            - }
        .menu-dev
            span.menu-dev__text Сайт сделан в &#160;
            a.menu-dev__link(href="#") Ra-Studio
