extends ../template

block variables
  - var title = 'Галерея'

block content
  .gal-header
    .gal-header-brad
      .container
        include ../common/bradcrumbs
    .container
      .gal-header-left
        .gal-header-left__img
          img(src="assets/images/icons/gal-icon.svg", alt="")
        div.gal-header-left__text Мы делаем фотоотчёты о <br> строительстве каждый месяц
      .gal-header-right
        a.gal-header-right__link(href="#") Сенятбрь 2017
        a.gal-header-right__link(href="#") Октябрь 2017
        a.gal-header-right__link(href="#")
          img.gal-header-right__link-img(src="assets/images/icons/gal-but-icon.svg", alt="")
  .gal-main
    .gal-main-top
      - for (var i = 0; i < 4; i++){
      .gal-main-top__item(style="background:url('assets/images/gallary1.jpg') center center no-repeat")
      -}
    .gal-main-bot-block
      .container
        .gal-main-bot
          - for (var i = 0; i < 4; i++){
          .gal-main-bot-item
            .gal-main-bot-item__img(style="background:url('assets/images/gallary1.jpg') center center no-repeat")
          -}
block footer
  include ../common/footer
