extends ../template

block variables
  - var title = 'Главная'
  - var background = 'style="asd"'

block content
  .main-page
    .container
      .main-page__title1 Ваша идеальная <span>загородная</span> <span>жизнь</span>
      .main-page__title2 <span>в 35 км.</span> от Санкт-Петербурга 