block variables

doctype html
html
  head
    meta(charset="utf-8")
    title #{title}
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel='stylesheet' href='assets/styles/app.min.css')

  body
    .wrapper 
      a(data-fancybox, data-src="#popup-callback", href="javascript:;").main-tel
        img.main-tel__img(src="assets/images/icons/main-tel.svg", alt="")
      include common/menu
      block content
    block footer
    include common/popup
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="assets/scripts/common/slick.min.js")
  script(src="assets/scripts/common/nouislider.min.js")
  script(src="assets/scripts/common/wNumb.js")
  script(src="assets/scripts/common/jquery.fancybox.min.js")
  script(src="assets/scripts/common/jquery.mask.min.js")
  script(src="assets/scripts/main.js")