@font-face {
  font-family: 'MuseoSansRegular';
  src: url('../fonts/MuseoSansRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansRegular.woff') format('woff'),
  url('../fonts/MuseoSansRegular.ttf')  format('truetype'),
  url('../fonts/MuseoSansRegular.svg#FiraSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'MuseoSansBold';
    src: url('../fonts/MuseoSansBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansBold.woff') format('woff'),
    url('../fonts/MuseoSansBold.ttf')  format('truetype'),
    url('../fonts/MuseoSansBold.svg#FiraSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'MuseoSansMedium';
    src: url('../fonts/MuseoSansMedium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansMedium.woff') format('woff'),
    url('../fonts/MuseoSansMedium.ttf')  format('truetype'),
    url('../fonts/MuseoSansMedium.svg#FiraSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
  }